{% extends "layout.html" %}

{% block title %}
    Transactions History
{% endblock %}

{% block main %}
    <table>
        <h1>Your Transactions History:</h1>
        <thead>
            <tr>
                <th>Type</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Time of Purchase</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.type }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}